<ion-view title="Авторизация" hide-back-button="false">
    <ion-content padding="true" class="has-header">
        <form name="numForm" class="list">
            <label class="item item-input">
                <span class="input-label">Введите ваш телефон</span><strong style="padding-right: 5px;">+7 </strong>
                <input ng-class="numForm.phone.$valid?red:black" name="phone" minlength="10" maxlength="10" required
                       ng-model="user.number" type="tel" placeholder="">
            </label>
            <span ng-show="numForm.phone.$invalid&&numForm.phone.$touched">Номер телефона должен содержать 10 цифр</span>
            <label ng-if="!numberFieldisEmpty" class="item item-input" id="page6-input11">
                <span class="input-label">Введите код из смс</span>
                <input type="tel" name="smsCode" ng-model="user.code" placeholder="">
            </label>
            <a ng-click="goToStepTwo(numForm,user)" id="page6-button2" class="button button-positive  button-block">Продолжить</a>

        </form>
    </ion-content>
</ion-view>

