<ion-view  title="{{$root.isLogged?'Профиль':'Вход'}}" id="page4">
    <ion-content ng-show="$root.isLogged" padding="true" class="has-header">
        <h3 id="page4-heading9" style="color:#000000;">Номер</h3>
        <div id="page4-markdown9" style="color:#000000;">
            <p>
                <input ng-disabled="editPhoneAllow" style="border: 0;
    background: transparent;" value="{{user._phone}}">
            </p>
        </div>
        <button id="page4-button10" class="button button-positive button-small button-block" ng-click="editPhone()">Изменить</button>
        <h3 id="page4-heading10" style="color:#000000;">Адрес</h3>
        <div id="page4-markdown10" style="color:#000000;">
            <p>
                {{user._address}}
            </p>
        </div>
        <button id="page4-button11" class="button button-positive button-small button-block" ng-click="editAddress()">Изменить</button>
        <!--<h3 id="page4-heading11" style="color:#000000;">Карта</h3>-->
        <!--<div id="page4-markdown11" style="color:#000000;">-->
            <!--<p>Some friendly-->
                <!--<strong>markdown</strong>-->
            <!--</p>-->
        <!--</div>-->
        <!--<button id="page4-button12" class="button button-positive button-small button-block">Изменить</button>-->
        <h3 id="page4-heading12" style="color:#000000;">История</h3>
        <div id="page4-markdown12" style="color:#000000;">
           <ul>
               <li style="border-bottom: 1px solid black;" ng-repeat="orders in history">
                  <ul>
                      <li ng-repeat="order in orders.order">
                          {{order.name}} {{order.price}} руб. {{order.status}}
                      </li>
                  </ul>
                   {{orders.created_at}}
               </li>
           </ul>
        </div>
    </ion-content>
    <div login ng-hide="$root.isLogged"></div>
    <div address ng-show="$root.editAddressAllow"></div>
</ion-view>





<!--<ion-view ng-if="!isLogged" title="Контактные данные"  hide-back-button="{{!isLogged}}">-->
    <!--<ion-content padding="true" class="has-header">-->
        <!--<form name="numForm" class="list">-->
            <!--<label class="item item-input">-->
                <!--<span class="input-label">Введите ваш телефон</span>-->
                <!--<input name="phone" minlength="12" required ng-model="user.number" type="tel" placeholder="">-->
            <!--</label>-->
            <!--<label ng-if="!numberFieldisEmpty" class="item item-input" id="page6-input11">-->
                <!--<span class="input-label">Введите код из смс</span>-->
                <!--<input type="text" name="smsCode" ng-model="user.code" placeholder="">-->
            <!--</label>-->
            <!--<a ng-click="goToStepTwo(numForm,user)" id="page6-button2" class="button button-positive  button-block">Продолжить</a>-->
        <!--</form>-->
    <!--</ion-content>-->
<!--</ion-view>-->